<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "about.jpg" %>
  </div>
  
  <div id="content">
    <h1>Hi, I'm <span class="highlight">John Lander</span></h1>
    <p>I've loved computers since I was a kid. My first encounter with
       programming was in 7th grade when I built a rudimentary text game with
       <span class="small-bold">BASIC</span>. After that I stopped coding
       altogether, but I always knew that I would to get back into it one
       day.</p>
       
    <p>A few months ago that day finally came. I went through Zed Shaw's
       <span class="small-bold">Learn Python the Hard Way</span> and
       <span class="small-bold">Codecademy's Ruby tutorial</span>. Next came
       Michael Hartl's <span class="small-bold">Ruby on Rails Tutorial</span>,
       and now I'm hooked!</p>
       
    <p>At the moment my focus is on becoming a <span class="small-bold">Ruby on
       Rails</span> developer. You can check out a few of the Rails apps I've
       built (<span class="small-bold">including this blog!</span>) in the
       sidebar. They were only built to teach myself though, so they're not
       completely fleshed out. All the code is in <a href="https://github.com/JohnWL">my Github profile</a>. Tests are
       visibly absent, so learning RSpec is next on the agenda!</p>
       
    <p>I enjoy front-end design as well as working on the back-end. Some of the 
       technologies I'm currently familiar with include <span class="small-bold">Python, Ruby,
       Javascript, jQuery, and Ruby on Rails</span>, along with <span class="small-bold">Git, HTML5, CSS,
       PHP, PostgreSQL and SQLite</span>.</p>
  </div>
</div>